* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 2rem 4rem;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  margin: 2rem 0 1rem;
}

img,
video,
svg {
  margin: 1rem;
  border-radius: 8px;
  width: 400px;
  height: auto;
}

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

body {
  background-color: #eeeeee;
  color: #242424;
  font-family: Montserrat;
}

div {
  max-width: 700px;
}

/* Animation */
@keyframes show {
  from {
    opacity: 0.5;
    scale: 50%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

img {
  /* Assign a name to identify it when scrolling */
  view-timeline-name: --image;
  /* The axis that has to do with the scroll (block -> vertical) */
  view-timeline-axis: block;

  /* Link the scroll to the element */
  animation-timeline: --image;
  /* What is the animation */
  animation-name: show;

  /* From what percentage does the animation start and end? */
  animation-range: entry 20% cover 40%;
  /* In what sense is animation made? */
  animation-fill-mode: both;
}